<div id='nico-head-links'>
  <span><%= link_to 'Top', root_path %></span> |
  <span><%= link_to 'Search', nico_search_path %></span> |
  <span><%= link_to 'Vocalod', nico_vocaloid_path %></span> |
  <span><%= link_to 'Utau', nico_utau_path %></span>
</div>